<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Provide Organization Number</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="type">Enter Organization Number [eg. 979559518] then click Save</label>
              <div class="input-group">
                <!-- <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div> -->
                <input id="type" type="text" class="form-control" 
                placeholder="Organization Number"
                [(ngModel)]="PosType"
                name="type"/>
                
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>



      <div class="jumbotron" *ngIf="displayInfo">
          <div class="container">
            <h2>Organisation Name: &nbsp; {{shop.navn}}</h2>
            <div class="card" >
                <div class="card-body">
                    <h4 class="card-title">Current Visitor Count : {{shop.currentpeoplecount}}</h4>
                </div>
              </div>
            </div>
        </div>
