<div class="jumbotron">
        <div class="container text-center">
          <h1>{{title}}</h1>
        </div>
        <div class="container">
          <div class="row">
              <h5>Sweden's Public Health Agency is set to introduce new restrictions for restaurants, bars, night clubs and cafés, allowing only table service, to halt the spread of the coronavirus.</h5>
            </div>
        </div>
        <p>
                Johan Carlson, director-general of Sweden's Public Health Agency, told a press conference that the new rules for how to minimise the risk of the coronavirus were expected to come into effect tomorrow.

                "All (restaurant, bar, nightclub and café) owners must make a plan for how to limit the spread of infection. We will only allow seated table service, no counter service or hanging at bar counters. We are also urging them to make sure there is enough space between tables and so on," said Carlson.
                
                If a restaurant or bar does not comply with the rules, they risk being shut down.
                
                The decision does not affect takeaway food.
                
                Sweden has previously banned public gatherings of more than 500 people, but these are the first restrictions for bars and restaurants. Many people have nevertheless been choosing to stay at home to avoid infection or spreading the virus to others, prompting some restaurants to close due to a decrease in customers, but concerns have also been raised of crowded bars and restaurants in the bigger cities.
                
                Health and Social Affairs Minister Lena Hallengren urged people to do their part to help flatten the curve.
                
                "I want to remind you of what is called social distancing," she said, the first time the Swedish government has urged people in general to practice social distancing, which has so far been limited to the over-70s.
                
                "Keep your distance, we normally say in traffic. But that also applies to social life now," said Hallengren. "In the first instance, use telephone, video chat, or other tech, to keep in touch with relatives and friends. That especially applies to contact with elderly people or other people who are particularly vulnerable."
                
                Although keeping one metre apart from other people is one of the strategies recommended by the World Health Organisation to limit the spread of the virus, there is currently no official recommendation to do this in Sweden, the Public Health Agency's press office told The Local by email following the press conference. Also during the conference, the deputy state epidemiologist encouraged young people to continue with sport and said it was important "that our society does not shut down".
                
                Concerns have also been raised of domestic tourists travelling to ski resorts and spreading the virus, prompting many ski resorts to halt après-ski events. After meeting regional health authorities in Jämtland, which is home to the popular ski town Åre, the Public Health Agency decided not to close slopes.
                
                "Our assessment is that our new measures (only allowing seated table services in bars and restaurants) mean that skiing and ski lifts in themselves do not cause significantly bigger risks of infection than being out and about in society on the whole," Carlson told the TT news agency.
                
                Both he and Hallengren strongly urged Swedes not to spend the upcoming Easter holidays travelling or visiting friends and relatives.
                
                A total of 2,272 people had been diagnosed with the coronavirus by 2pm on Tuesday, including 36 deaths with an average age of 82, according to the Public Health Agency's latest update.
                
                A total of 136 patients have been treated or are being treated in intensive care since the start of the outbreak, with a median age of 64.5 (this figure includes patients who have died or recovered), according to the Swedish intensive care register.
                
                The surge in intensive care patients that had been expected in Stockholm before the weekend has not yet come, deputy state epidemiologist Anders Wallensten said at the Public Health Agency's daily briefing. Hospitals are under pressure, he said, but the situation is not as bad at this stage as had been expected.
                
                The majority of confirmed cases in Sweden so far are still people aged around 40-70, he added, with comparatively few infections among the elderly, who are generally worse affected by the coronavirus.
                
                
        </p>
</div>
