
<div class="row">
  <div class="col-md-12">
     
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Enter organisation number or name and press generate QR Code</h5>
        <!-- <p class="card-category">24 Hours performance</p> -->
      </div>
      <div class="card-body ">

        <div style="text-align:center">
          <input type="text" placeholder="Enter name to generate QR Code" [(ngModel)]="qrcodename"><br>
          <button 
          type="button" class="btn btn-info"
          (click)="generateQRCode()">Generate QR Code</button>
          <ngx-qrcode *ngIf="display" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value">
          </ngx-qrcode><br>

          <a [href]="href" *ngIf="display" (click)="downloadImage()" download>Download Image</a>
      </div>
      
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
            
           <button (click)="printPage()"><i class="fa fa-history"></i> Print</button>
        </div>
        <h5>** Download Bokade from Playstore/ App store</h5>
      </div>
    </div>
  </div>
</div>
